/*  " THE *"  Means that the border box and padding is applied gloabbly to the page.Or universally applied across the page  */

* {
    box-sizing: border-box;
    padding: 0;
   
}

/* Changes the background of the body */
body {
    background-color: #d9dcd6;
    

}   

header {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    flex-wrap: wrap;
}
/*  This is applied for the name , basically my name , different fonts and style are applied */
header  h1 {
    box-sizing: border-box;
    border-style: solid;
    border-color: rgba(128, 128, 128, 0.46);
    background-color: rgba(128, 128, 128, 0.442);
    display: inline-block;
    font-size: 48px;
    padding-left: 20px;
    padding-top: 30px;
}

/* The code below applies to the " nav" or navigation part of "header" only . */
header  nav {
   
    padding-top: 20px ;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* To display the About me , work , contact me and resume in a single line next to each other , the display : inline-block is used */
header  ul {
    list-style-type: none;
    display: inline-block;
   
}

header   ul li {
    display: inline-block;
    margin-left: 25px;
   
}
/* Applies to the "a" of nav  */
a {
    color: #ffffff;
    text-decoration: underline;
    text-underline-position: below;
    
}
/* code below applies to <p> of <nav> only   */
p {
    font-size: 16px;
}

/* A class called "star" is created in html page to add a bakground image and position and align it */ 
.star {
    height: 200px;
    width: 100%;
    
    background-image: url("./background-wp.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}
/* The .bottom-right class is created in div so that we can write text on images . The text is then aligned with appropriate bottom and right */
.bottom-right {

    position:absolute;
    bottom: 40px;
    right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-style: normal;
}

/* The bottom-left class is created in under the <div> of < a href >. To be able to write text and add hover and box-shadowing over the image  */
.bottom-left {

    position: absolute;
    bottom: -60px;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.602);
    padding: 10px;
    transition: all.5s ease;
    cursor: pointer;
    
}
/* Code for adding hover and shadow to a card or block  */
.bottom-left:hover, .card:hover   {
        box-shadow: 10px 10px 5px pink;
        
    
    }      
    
/* A class cheatsheet-bottom is created to be able to position a text-box on the image  */
.cheatsheet-bottom {

    position: absolute;
    bottom: -320px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 30px;
    padding: 10px;
    font-size: medium;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.505);
    transition: all.5s ease;
    cursor: pointer;
}

.cheatsheet-bottom:hover, .card:hover {
    box-shadow: 10px 10px 5px pink;
}

.css-bottom {

    position: absolute;
    bottom: -320px;
    margin-left: 358px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.569);
    transition: all.5s ease;
    cursor: pointer;

}

.css-bottom:hover, .card:hover {
    box-shadow: 10px 10px 5px pink;
}

.javascript-bottom {

    position: absolute;
    bottom: -560px;
    margin-left: 26px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.598);
    transition: all.5s ease;
    cursor: pointer;
}

.javascript-bottom:hover, .card:hover {
    box-shadow: 10px 10px 5px pink;
}


.nodejs-bottom {

    position: absolute;
    bottom: -560px;
    margin-left: 358px;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    box-sizing: border-box;
    background-color: rgba(0, 0, 255, 0.592);
    transition: all.5s ease;
    cursor: pointer;
}

.nodejs-bottom:hover, .card:hover {
    box-shadow: 10px 10px 5px pink;
}

/*  A class content is created in as an article class to  justify the article part of the body*/
.content {
    width: 900px;
    height: 900px;
    background-color: #d9dcd6;
    
    display:inline-flex;
    justify-content: space-around;
    
}
/* float right pushes the image in the article to the right side of the page */
.float-right {
    float: right;
    transition: all.5s ease;  /* transition is basically the time and style of hover */
    width: 600px;
    height: 250px;
    margin-right: 170px;
    border:navy;
    
    border-width: 40px;


}

/* Similary float is applied to the other images in the article and is positioned with width ,height,margin*/
.float-right:hover, .card:hover h2 {
    box-shadow: 10px 10px 5px greenyellow;

}  

.float-left01 {
    float: left;
    transition: all.5s ease;
    width: 250px;
    height: 220px;
    margin-left: 28px;
    margin-top: 20px;
    border-color: navy;
    border-width: 5px;   

}

.float-left01:hover, .card:hover h2 {
    box-shadow: 10px 10px 5px greenyellow;

}  

.float-left02 {
    float: left;
    transition: all.5s ease;
    width: 250px;
    height: 220px;
    margin-left: 80px;
    margin-top: 20px;
    border-color: navy;
    border-width: 20px;


}

.float-left02:hover, .card:hover h2 {
    box-shadow: 10px 10px 5px greenyellow;

}  

.float-left03 {
    float: left;
    transition: all.5s ease;
    width: 250px;
    height: 220px;
    margin-left: 28px;
    margin-top: 30px;
    border-color: navy;
    border-width: 5px;

}

.float-left03:hover, .card:hover h2 {
    box-shadow: 10px 10px 5px greenyellow;

}  

.float-left04 {
    float: left;
    transition: all.5s ease;
    width: 250px;
    height: 220px;
    margin-left:80px ;
    margin-top: 30px;
    border-color: navy;
    border-width: 5px;


}

.float-left04:hover, .card:hover h2 {
    box-shadow: 10px 10px 5px greenyellow;

}  



/* The section element places the "About me " section on the page  */
section {
    padding: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    flex-wrap: wrap;
}

section  h3 {
    display: inline-block;
    font-size: 30px;
    margin-left: 60px;
    padding-right: 30px;
    
    }


 
section p {
   
    
    padding-bottom: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: inline-block;
    margin-left: 310px;
    width: 700px;
    height: 50px;
    flex-wrap: wrap;
}


/* benefits class is appled to <aside > element . The parameters of this class position the aside to the left side */
.benefits {
    margin-left: 0px;
    padding: 20px;
    clear: both;
    float: left;
    width: 522px;
    height: 900px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: skyblue;
    flex-wrap: wrap;
}

.benefit-lead {
   
    color: blue;
    margin-top: 200px;
}



.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    margin-right: 110px;
}
/* search class is applied to the <nav> part in <article> . */
.search {
    
    padding: 50px;
    height: 890px;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
    color: blue;
    flex-wrap: wrap;
}



/* The footer pretty much follows the same style as header , just that the sizes and paramters are a little different  */

footer {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: white;
    flex-wrap:wrap;
}

footer h3 {
    display: inline-block;
    font-size: 30px;
    margin-left: 120px;
    flex-wrap: wrap;
}

footer  nav {
   
    padding-top: 20px ;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

footer  ul {
    list-style-type: none;
}

footer  ul li {
    display: inline-block;
    margin-left: 120px;
}
p {
    font-size: 16px;
}

/* This is when we open our screen in a tablet or phone , we wanna have items aligned properly , and flex wrap to apply */
@media screen and (max-width: 920px) {
    body {
      flex-direction: column;
    }
  }

@media screen and (max-width: 576px) {
    body
     {
      flex-direction: column;
    }
  }  

/* Applied for h3 of footer */
h3 {

    border-right: 5px solid black;
    padding: 40px 0 ;
    margin-left: 20px;

}

/* Applied for h3 of aside */
.line {

    border-right: 0px solid skyblue;
    padding: 10px 0 ;

}
/* straight is a class creating a line next to Contact me  */
.straight {

    border-right: 5px solid black;
    padding: 10px 40px;
}

